*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.header{
width:auto ;
padding: 0% 10%;
background-color: hsl(215, 28%, 17%);
color: #f9faf8;
}

.header nav{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.header nav p{
    font-size: 24px;
    font-weight: bold;

}
.header nav ul li{
list-style: none;
display: inline;
margin: 10px 15px;
}

.herocontainer{
margin-top: 60px;
display: flex;
justify-content: space-between;
max-width: auto;
padding-bottom: 70px;
}

.herotext{
    font-size: 48px;
    font-weight: bold;
    max-width: 50%;
}

.herosecondary{
    margin-top: 20px;
    font-size: 18px;
    color: #e5e7eb;
    max-width: 60%;
}

.signupbutton {
    margin-top: 24px;
    background-color: #3882f6;
    border-style: none;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;

}

.tiles{
    width: auto;
    font-weight: bolder ;
    color: #1f2937;
    display: block;
}

